html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

.background {
  background-color: #161d31;
  height: 100vh;
  padding-bottom: 3rem;
  display: flex;
  /* flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.color1 {
  background-color: #283046;
}

.color2 {
  background-color: #161d31;
}

.color3 {
  background-color: #31365c;
}

.colorText {
  color: #b4b7bd;
}
